/* The code below has been adapted from https://github.com/vishalpandey2192/DV_Project */


/* On mouse hover, lighten state color */
path:hover {
    fill-opacity: .7;
}

#map-view{
    margin-left: -10px
}

#map-view::after{
    padding-left: 270px;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
}


/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 15px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Legend Font Style */
body {
    font: 11px sans-serif;
}


.inline{
    display: inline;
}


.center-align{
    text-align:center;
}




rect:hover {
    fill-opacity: .7;
}

.tooltip-title {
    padding-left: 10px;
    padding-right: 10px;
    border-style: groove;
    position: absolute;
    pointer-events: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    font-size:15px;
    text-transform: capitalize;
}
.highlight-class{
    fill:#a9a19e;
    color: aqua;
}



.bold{
    font-weight: bold;
}